@model Opgave2.Models.ShoppingListModel


@using (Html.BeginForm("Create", "ShoppingList"))
{ 
@Html.HiddenFor(m => m.Id)
    <div>    
        <h2>Shopping List: <input Name="Name" type="text" value="@Model.Name"/></h2>
    </div>
    <div>
        <ul>
            @foreach (var p in Model.ProductList)
            {
                <li>Amout: @p.Amout Name: @p.ProductName Induvidual Price: @p.Price</li>
            }
        </ul>
        <p>Amout: <input Name="Amout" type="text"/> <br/> Name: <input Name="ProductName" type="text"/> <br/> Price: <input Name="Price" type="text"/> </p>
        <p><Button>Add shopping product</Button></p>
        <p><Button>Remove with name and 0</Button></p>
    </div>
}